extends layout

block content
  h1= title

  p TaroTwit scans the general emotional state of Twitter based off of specific magic and mystical related keywords.
  p The draw of the tarot cards is impacted by the emotional energy of Twitter. The more positive energy the more positive the card draw it.
  p Try below with the Celtic Cross draw!


  a(href="/cards/CelticCross") Draw Celtic Cross
